body {
	background-color: #000000;
	background-attachment: fixed;
	background-image: url(starfield.gif);
	background-repeat: repeat;
 	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;

}
#header {
	width:100%;
 	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	height:120px;
	background-image:url(images/starhd.jpg);
	background-position:left;
	background-repeat:no-repeat;
	position:relative;
	
}
#h2head {
	/* position:absolute; */
	top:32px;
	left:0;
	width:90%;

}
#headmenu {
	color:yellow;
}
.hhead {
	text-decoration:none;
	color:#FFFFCC;
}
.login input {
	background-color:#CCCCCC;
}
#notlogged {
	visibility:visible;
}
#logged {
	visibility:hidden;
}
.hh {
	color:#FFFFCC;

}
.content {
 	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.77em;
	color:#FFFFCC;
	margin:8px;
	padding:6px;
	background-color:#05338B;
	text-align:center;
    position:relative;
}
.tcontent td {
 	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color:#111111;
	background-color:white;
}
.tcontent  {
 	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color:#111111;
	background-color:#EEEEEE;
}
#tmain {
	min-width:60%;
	max-width:90%;
	background-color:#05338B;
	position:relative;
	 margin-left:auto;
	 margin-right:auto;
	 min-height:400px;
}
.innert {
	background-color:#CCCCCC;
    position:relative;
	min-height:300px;
}
.innert td {
 background-color:#DDDDFF;
 color:#000066;
}
/* border styles for fancy table */
#tdul { background-image:url(images/ul.jpg);background-repeat:no-repeat; width:28px; height:24px; background-position:top left; }
#tdtop { background-image:url(images/top.jpg);background-repeat:no-repeat; height:24px; background-position:top center; }
#tdur { background-image:url(images/ur.jpg);background-repeat:no-repeat;width:28px;height:24px;background-position:top right; }
#tdleft { background-image:url(images/left.jpg);background-repeat:no-repeat;  width:28px;   background-position:left center;}
#tdright {background-image:url(images/right.jpg);background-repeat:no-repeat;  width:28px;  background-position:right center; }
#tdlr { background-image:url(images/lr.jpg);background-repeat:no-repeat;width:28px;height:24px; background-position:bottom right; }
#tdbot { background-image:url(images/bot.jpg);background-repeat:no-repeat; height:24px; background-position:bottom center; }
#tdll { background-image:url(images/ll.jpg);background-repeat:no-repeat; background-position:bottom left;width:28px; height:24px; }
